html{
  margin: 0;
}
.App {
  text-align: center;
}

.form-control {
  width: 75%;
}

.searchLost{
  margin-bottom: 5%;
  font-size: 18px;
}

.App-intro {
  font-size: 24px;
  font-family: Avenir;
}

.App-description{
  font-size: 18px;
  font-famiy: Avenir;
}

ul{
  list-style: none;
}

.formStyle1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px Avenir;
    font-weight: lighter;
}
.formStyle1 li {
    padding: 0;
    display: block;
    margin: 10px 0 0 0;
}
.formStyle1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight:lighter;
}
.formStyle1 input[type=text],
.formStyle1 input[type=date],
.formStyle1 input[type=datetime],
.formStyle1 input[type=number],
.formStyle1 input[type=search],
.formStyle1 input[type=time],
.formStyle1 input[type=url],
.formStyle1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.formStyle1 input[type=text]:focus,
.formStyle1 input[type=date]:focus,
.formStyle1 input[type=datetime]:focus,
.formStyle1 input[type=number]:focus,
.formStyle1 input[type=search]:focus,
.formStyle1 input[type=time]:focus,
.formStyle1 input[type=url]:focus,
.formStyle1 input[type=email]:focus,
.formStyle1 textarea:focus,
.formStyle1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.formStyle1 .fieldDivided{
    width: 49%;
}

.formStyle1 .fieldLong{
    width: 100%;
}
.formStyle1 .fieldSelect{
    width: 100%;
}
.formStyle1 .fieldTextarea{
    height: 100px;
}
.formStyle1 input[type=submit], .formStyle1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    font-size: 18px;
}
.formStyle1 input[type=submit]:hover, .formStyle1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.formStyle1 .required{
    color:red;
}

/*.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}*/
/*@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
